.pg-page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
    height: 100%;
    width: 100%;
}

.pg-page_404 img {
    width: 100%;
}

.pg-four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    width: 900px;
    background-position: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.pg-four_zero_four_bg h1 {
    font-size: 80px;
}

.pg-four_zero_four_bg h3 {
    font-size: 80px;
}

.pg-link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 10px;
    display: inline-block;
    border-radius: 10px;
}

.contant_box_404 {
    margin-top: -50px;
}